body{
    background-color: antiquewhite;
    color: black;
    margin: 0;
    padding: o;

}
nav{
    background-color: antiquewhite;
    padding: 15px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul il a{
    color: blueviolet;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
main{
    padding: 20px;
}
section{
    margin-bottom: 40xp;
}
h1,h2,h3{
    color: brown;
}
 img {
    margin-right: 10xp;
    border-radius: 8xp;
    border-color: blue;
}
footer{
    background-color: rgb(167, 98, 144);
    color: black;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
}
 social-lines footer{
    margin-top: 10px;
    text-decoration: none;
    margin: 0 10xp;

 }